{"ids":{"client_id":XXXXXXXXXXXXXXXXXX, "token":"Your.token.here", "wranglers":[user, ids, for, admins]}, "config":{"default_game": "SuperTuxKart", "command_dir": "commands/", "command_whitelist": false, "commands": ["fortune", "summon"], "help_color":4709333, "familiars": {"botname": {"id": XXXXXXXXXXXXXXXXXX, "kill": "bot's kill command"}}, "prefix": "$"}}
